<header class="header">
  <div class="logo">
    <svg viewBox="32 4 113 32">
      <use href="assets/instagram.svg#instagram" fill="#ddd" />
    </svg>
  </div>
  <div class="search-bar">
    <svg viewBox="0 0 24 24">
      <use href="assets/icons.svg#search" stroke="#8E8E8E" />
    </svg>
    <input type="text" placeholder="Search" />
  </div>
  <div class="notification-icon">
    <svg>
      <use
        href="assets/icons.svg#like"
        fill="white"
        stroke="#ddd"
        stroke-width=".5px"
      />
    </svg>
  </div>
</header>
<div class="content">
  <div class="stories">
    <swiper-container #swiperRef init="false" class="swiper">
      <swiper-slide *ngFor="let story of stories">
        <div class="story">
          <div class="story__img">
            <img src="assets/avatar.png" alt="" />
          </div>
          <div class="story__username">Username__</div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
  <div class="posts">
    <app-post *ngFor="let post of posts.slice(0, 10)" [post]="post"></app-post>
  </div>
</div>
