<div class="post" *ngIf="post">
  <div class="post__header">
    <div class="post__infos">
      <div class="post__img">
        <img [src]="post.user?.profilePic" alt="" />
      </div>
      <span class="name">{{ post.user.username }}</span>

      <span class="datetime">2h</span>
    </div>
    <span class="more-icon">
      <svg>
        <use
          href="assets/icons.svg#more"
          fill="white"
          stroke="#ddd"
          stroke-width="0.25"
        />
      </svg>
    </span>
  </div>
  <div class="post__content">
    <img [src]="post.imgUrl" alt="that's the image" />
  </div>
  <div class="post__actions">
    <ul class="actions">
      <li>
        <svg>
          <use
            href="assets/icons.svg#like"
            fill="white"
            stroke="white"
            stroke-width="0.25"
          />
        </svg>
      </li>
      <li>
        <svg>
          <use
            href="assets/icons.svg#comment"
            fill="white"
            stroke="white"
            stroke-width="0.25"
          />
        </svg>
      </li>
      <li>
        <svg>
          <use
            href="assets/icons.svg#direct"
            fill="white"
            stroke="white"
            stroke-width="0.25"
          />
        </svg>
      </li>
      <li>
        <svg>
          <use href="assets/icons.svg#save" stroke="white" />
        </svg>
      </li>
    </ul>
  </div>
  <div class="like__number">{{ post.number_of_likes }} likes</div>
  <div class="description">
    {{ post.description }}
  </div>
  <div class="view-all-comments">View all 18 comments</div>
</div>
