<div class="post">
  <div class="post__header">
    <div class="post__infos">
      <div class="post__img">
        <img src="assets/avatar.png" alt="" />
      </div>
      <span class="name">Username</span>

      <span class="datetime">2h</span>
    </div>
    <span class="more-icon">
      <svg>
        <use
          href="assets/icons.svg#more"
          fill="white"
          stroke="#ddd"
          stroke-width="0.25"
        />
      </svg>
    </span>
  </div>
  <div class="post__content">
    <img src="assets/avatar.png" alt="that's the image" />
  </div>
  <div class="post__actions">
    <ul class="actions">
      <li>
        <svg>
          <use
            href="assets/icons.svg#like"
            fill="white"
            stroke="white"
            stroke-width="0.25"
          />
        </svg>
      </li>
      <li>
        <svg>
          <use
            href="assets/icons.svg#comment"
            fill="white"
            stroke="white"
            stroke-width="0.25"
          />
        </svg>
      </li>
      <li>
        <svg>
          <use
            href="assets/icons.svg#direct"
            fill="white"
            stroke="white"
            stroke-width="0.25"
          />
        </svg>
      </li>
      <li>
        <svg>
          <use href="assets/icons.svg#save" stroke="white" />
        </svg>
      </li>
    </ul>
  </div>
  <div class="like__number">889 likes</div>
  <div class="description">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro ullam,
    aliquid accusamus qui earum quo et sed tempora nobis dolorem aspernatur
    aperiam explicabo architecto nisi mollitia expedita perspiciatis a provident
    delectus quasi non, minima sunt? Ad veritatis voluptatem nulla ducimus
    ratione? Saepe veritatis modi tenetur inventore, culpa accusamus totam
    nesciunt ullam nisi facilis incidunt amet ea! Rerum recusandae in modi sunt
    excepturi perferendis a sequi eaque neque et maiores, saepe fuga nemo ipsam
    officia dolorum error aliquam dolorem amet exercitationem distinctio
    explicabo. Beatae, distinctio at dolorem quidem quis dignissimos laudantium
    nulla recusandae ipsa expedita molestiae sunt labore accusantium soluta
    totam!
  </div>
  <div class="view-all-comments">View all 18 comments</div>
</div>
