/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  box-sizing: border-box;
  flex-shrink: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
  width: 100vw;
  height: 100vh;
}

.main {
  height: 100vh;
}
img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
}
