.content {
  width: 100%;

  .search-bar-container {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    align-items: center;

    .search-bar {
      width: 100%;
    }
  }

  .results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    grid-auto-flow: dense;
    padding-bottom: 48px;
  }
}
