<div class="main">
  <router-outlet></router-outlet>
</div>
<nav class="nav">
  <ul class="nav__ul">
    <li class="nav__li">
      <a routerLink="home">
        <svg>
          <use href="assets/icons.svg#home" fill="white" />
        </svg>
      </a>
    </li>
    <li class="nav__li">
      <a routerLink="explore">
        <svg>
          <use href="assets/icons.svg#explore" fill="white" stroke="white" />
        </svg>
      </a>
    </li>
    <li class="nav__li">
      <a routerLink="reels">
        <svg>
          <use href="assets/icons.svg#reels" fill="white" stroke="white" />
        </svg>
      </a>
    </li>
    <li class="nav__li">
      <a routerLink="post">
        <svg>
          <use
            href="assets/icons.svg#post"
            fill="white"
            fill="white"
            stroke="white"
          />
        </svg>
      </a>
    </li>
    <li class="nav__li">
      <a routerLink="direct">
        <svg>
          <use
            href="assets/icons.svg#direct"
            fill="white"
            fill="white"
            stroke="white"
          />
        </svg>
      </a>
    </li>

    <li class="profile">
      <a routerLink="profile">
        <img src="assets/avatar.png" alt="" />
      </a>
    </li>
  </ul>
</nav>
