<section class="signup">
  <form
    class="bordered-container"
    [formGroup]="signupForm"
    (ngSubmit)="submitForm()"
  >
    <div class="logo">
      <svg class="pic">
        <use
          href="assets/instagram.svg#instagram"
          width="113"
          height="31"
          x="-30"
          y="0"
        />
      </svg>
    </div>
    <h2>Sign up to see photos and videos from your friends.</h2>
    <button class="btn fb">Log in with Facebook</button>
    <div class="sep">OR</div>
    <app-input-box
      placeholder="Email"
      name="email"
      formControlName="email"
    ></app-input-box>
    <app-input-box
      placeholder="Full Name"
      name="full_name"
      formControlName="full_name"
    ></app-input-box>
    <app-input-box
      placeholder="Username"
      name="username"
      formControlName="username"
    ></app-input-box>
    <app-input-box
      placeholder="Password"
      name="password"
      formControlName="password"
      type="password"
    ></app-input-box>
    <div class="policy">
      <div>
        People who use our service may have uploaded your contact information to
        Instagram. Learn More
      </div>
      <div>
        By signing up, you agree to our Terms , Privacy Policy and Cookies
        Policy .
      </div>
    </div>
    <button class="btn" type="submit">Signup</button>
  </form>
  <div class="already-signed bordered-container">
    Have an account ? <a href="">Log in</a>
  </div>
</section>
